* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
}

.colors,
.discription,
.toggle {
  margin-top: 20px;
}

.more_info {
  line-height: 3;
}
.artical1 {
  position: relative;
  display: block;
  max-width: 900px;
  margin: 20px auto;
  border: 5px solid black;
}
.sale {
  left: -35px;
  top: -18px;
  border: none;
  position: absolute;
  font-size: 12px;
  padding: 10px 20px;
  background-color: red;
  font-weight: 700;
  color: white;
}
.title {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.image_girl_cloth {
  height: 275px;
  min-width: 275px;
  object-fit: cover;
}
.price {
  font-size: 24px;
  margin: 0;
}
.more_info {
  color: #444;
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
}
.more_info:hover {
  text-decoration: none;
}
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
}
li {
  font-size: 15px;
  line-height: 1.7;
  list-style: square;
  margin-left: 20px;
}

.btn1 {
  /* padding: 10px 20px; */
  width: 100%;
  height: 50px;
  color: white;
  font-weight: 700;
  background-color: black;
  cursor: pointer;
  border: 1px solid black;
}
.btn1:hover {
  background-color: white;
  color: black;
}
.prectice_content {
  display: none;
}
.toggle:has(.checkbox:checked) + .prectice_content {
  display: block;
}
.black,
.red,
.yellow,
.brown,
.green,
.blue {
  width: 20px;
  height: 20px;
  margin: 0 0 0 15px;
}
.black {
  background-color: black;
  margin: 0;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
.blue {
  background-color: blue;
}
.colors {
  display: flex;
  justify-content: left;
}
.free_shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin: 0;
}
.img,
.shipping,
.details {
  flex: 1;
}
.details {
  padding-bottom: 36px;
  margin-right: 10px;
}
.main_perent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.price_shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  cursor: pointer;
}